<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= methodName %> </title>
    <link rel="stylesheet" href="/css/method_home.css">
</head>
<body>
    <% if (methodName === 'blogEntry') { %>
        <% if (!Number.isInteger(id)) { %>
            <h1>Entered blog id is not a valid Integer</h1>
        <% } else { %>  
            <h1>Entered blog id: <%= id %> </h1>
        <% } %> 
        <button onclick="dropDown(`hidden-data-comments`)">blogEntry.comments &#8628;</button>
        <br>
        <br>
        <section id="hidden-data-comments" style="display: none;">
            <textarea name="" id="" cols="150" rows="30">
                <%= linkData.linkblogEntry_comments %> 
            </textarea>
        </section>
        <button onclick="dropDown('hidden-data-view')">blogEntry.view &#8628;</button>
        <br>
        <br>
        <section id="hidden-data-view" style="display: none;">
            <textarea name="" id="" cols="80" rows="20">
                <%= linkData.linkblogEntry_view %> 
            </textarea>
        </section>
    <% } else  if (methodName === 'contest'){ %>
        <p>
            Note: For methods depending on contest id, fill the id for either one of them and data for that id will be loaded for others too.
            For example, contest.hacks depends on contest id so by clicking on it you will be asked to give a contest id. By entering a valid contest id, data for other id dependent methods
            like, contest.ratingChanges, contest.status,contest.standings will also be loaded for the id given by you.
        </p>
        <br>
        <% if (check === 0) { %> 
            <button><a href="/methods/contest/forms/idFiller"><%= methodName %>.hacks</a></button>
            <br>
            <br>
        <% } else { %> 
            <h2>Entered id: <%= id %> </h2>
            <button onclick="dropDown('hidden-data-hacks')"><%= methodName %>.hacks &#8628;</button>
            <br>
            <br>
            <section id="hidden-data-hacks" style="display: none;">
                    <textarea name="" id="" cols="150" rows="30">
                        <%= linkData.linkcontest_ratingChanges %> 
                    </textarea>
            </section>
        <% } %> 
        <button onclick="dropDown('hidden-data-listT')">contest.list(gym=true) &#8628;</button>
        <br>
        <br>
        <section id="hidden-data-listT" style="display: none;">
            <textarea name="" id="" cols="150" rows="30">
                <%= linkData.linkcontest_listT %> 
            </textarea>
        </section>
        <button onclick="dropDown('hidden-data-listF')">contest.list(gym=false) &#8628;</button>
        <br>
        <br>
        <section id="hidden-data-listF" style="display: none;">
            <textarea name="" id="" cols="150" rows="30">
                <%= JSON.stringify(linkData.linkcontest_listF) %> 
            </textarea>
        </section>
        <% if (check === 0) { %> 
            <button><a href="/methods/contest/forms/idFiller">contest.ratingChanges</a></button>
            <br>
            <br>
        <% }else { %> 
            <button onclick="dropDown('hidden-data-rC')">contest.ratingChanges &#8628;</button>
            <br>
            <br>
            <section id="hidden-data-rC" style="display: none;">
                    <textarea name="" id="" cols="150" rows="30">
                        <%= linkData.linkcontest_ratingChanges %> 
                    </textarea>
            </section>
        <% } %> 
        <% if (check === 0) { %> 
            <button><a href="/methods/contest/forms/idFiller">contest.standings(Unofficial)</a></button>
            <br>
            <br>
        <% }else {%> 
            <button onclick="dropDown('hidden-data-stan')">contest.standings(Unofficial) &#8628;</button>
            <br>
            <br>
            <section id="hidden-data-stan" style="display: none;">
                    <textarea name="" id="" cols="150" rows="30">
                        <%= linkData.linkcontest_standings %> 
                    </textarea> 
            </section>
        <% } %>
        <% if (check === 0) { %> 
            <button><a href="/methods/contest/forms/idFiller">contest.status</a></button>
            <br>
            <br>
        <% } else { %> 
            <button onclick="dropDown('hidden-data-status')">contest.status(This button takes time to load and show data due to the slow response from CF API) &#8628;</button>
            <section id="hidden-data-status" style="display: none;">
                    <textarea name="" id="" cols="150" rows="30">
                        <%= linkData.linkcontest_status %> 
                    </textarea>
            </section>
        <% } %> 
    <% } else if (methodName === 'problemset') {%>
        <% if (check === 0) { %> 
            <button><a href="/methods/problemset/forms/tagFiller"><%= methodName %>.problems</a></button> (Requires problem tag)
            <br>
            <br>    
        <% } else if (countFillercheck === true) { %>
            <button><a href="/methods/problemset/forms/tagFiller"><%= methodName %>.problems</a></button>  (Requires problem tag)
            <br>
            <br>
        <% } else { %>
			<% if (errorcheck) { %> 
				<h2>Invalid Problem tag <%= id %> , please cross-check the tag you have entered</h2>
			<% } else if (!validitycheck) { %> 
				<h2>Problem Tag: <%= id %></h2>
				<h3>Note: The problem tag '<%= id %>' seems incorrect and you might want to re-check it. Anyways requested JSON is: </h3>
			<% } else { %> 
            	<h2>Problem Tag : <%= id %> </h2>
			<% } %> 
            <button onclick="dropDown('hidden-data-problems')"><%= methodName %>.problems &#8628;</button>
            <br>
            <br>
            <section id="hidden-data-problems" style="display: none;">
                <textarea name="" id="" cols="150" rows="30">
                    <%= linkData.linkproblemset_problems %> 
                </textarea>
            </section>
        <% } %>  
        <% if (check === 0) { %> 
            <button><a href="/methods/problemset/forms/countFiller" target="_blank"><%= methodName %>.recentStatus</a></button> (Requires count of number of submissions)
            <br>
            <br>
        <% } else if (countFillercheck === true) { %>
            <% if (id > 1000) {%> 
                <h2>Count value: <% id %>(greater than 1000) </h2>
            <% } else { %> 
                <h2>Count value: <%= id %> </h2>
            <% } %> 
            <button onclick="dropDown('hidden-data-rS')"><%= methodName %>.recentStatus &#8628;</button>
            <br>
            <br>
            <section id="hidden-data-rS" style="display: none;">
                <textarea name="" id="" cols="150" rows="30">
                    <%= linkData.linkproblemset_recentStatus %> 
                </textarea>
            </section> 
        <% } else { %>
            <button><a href="/methods/problemset/forms/countFiller" target="_blank"><%= methodName %>.recentStatus</a></button>(Requires count of number of submissions)
            <br>
            <br>
        <% } %> 
    <% } else if (methodName === 'recentActions') { %>
        <% if (id > 100) { %>
            <h2>Entered maxCount value: <%= id %> (greater than 100) </h2>
        <% } else { %>
            <h2>Entered maxCount value: <%= id %> </h2>
        <% } %>   
        <button onclick="dropDown(`hidden-data-recentActions`)"><%= id %> recentActions &#8628;</button>
        <br>
        <br>
        <section id="hidden-data-recentActions" style="display: none;">
            <textarea name="" id="" cols="150" rows="30">
                <%= linkData.linkrecentActions %> 
            </textarea>
        </section>
    <% } else { %>
        <p> Note: For methods depending on user handle, fill the handle for either one of them and data for that handle will be loaded for others too.
            For example, user.blogEntries depends on user handle so by clicking on it you will be asked to give a handle. By entering a valid user handle, data for other user handle dependent methods
            namely, user.info, user.rating,user.status will also be loaded for the user handle given by you.
        </p>
        <% if (check === 0) { %> 
            <button><a href="/methods/user/forms/handleFiller">user.blogEntries</a></button>
            <br>
            <br>
        <% } else { %>
            <% if (errorcheck) { %>
                <h2>Invalid user handle : <%= id %> </h2>
            <% } else { %>  
                <h2>Entered valid user handle : <%= id %> </h2>
            <% } %> 
            <button onclick="dropDown('hidden-data-userblogEntries')">user.blogEntries &#8628;</button>
            <br>
            <br>
            <section id="hidden-data-userblogEntries" style="display: none;">
                    <textarea name="" id="" cols="150" rows="30">
                        <%= linkData.linkuser_blogEntries %> 
                    </textarea>
            </section>
        <% } %>  
        <% if (check === 0) { %> 
            <button><a href="/methods/user/forms/handleFiller">user.info</a></button>
            <br>
            <br>
        <% } else { %>
            <button onclick="dropDown('hidden-data-userinfo')">user.info &#8628;</button>
            <br>
            <br>
            <section id="hidden-data-userinfo" style="display: none;">
                    <textarea name="" id="" cols="150" rows="30">
                        <%= linkData.linkuser_info %> 
                    </textarea>
            </section>
        <% } %> 
        <!-- <button onclick="dropDown(`hidden-data-ratedListT`)">ratedList(activeOnly=true) &#8628;</button>
        <br>
        <br>
        <section id="hidden-data-ratedListT" style="display: none;">
            <textarea name="" id="" cols="150" rows="30">
                <%= //linkData.linkuser_ratedListAOT %> 
            </textarea>
        </section>
        <button onclick="dropDown(`hidden-data-ratedListF`)">ratedList(activeOnly=false) &#8628;</button>
        <br>
        <br>
        <section id="hidden-data-ratedListF" style="display: none;">
            <textarea name="" id="" cols="150" rows="30">
                <%= //linkData.linkuser_ratedListAOF %> 
            </textarea>
        </section> -->
        <% if (check === 0) { %> 
            <button><a href="/methods/user/forms/handleFiller">user.rating</a></button>
            <br>
            <br>
        <% } else { %>
            <button onclick="dropDown('hidden-data-userrating')">user.rating &#8628;</button>
            <br>
            <br>
            <section id="hidden-data-userrating" style="display: none;">
                    <textarea name="" id="" cols="150" rows="30">
                        <%= linkData.linkuser_rating %> 
                    </textarea>
            </section>
        <% } %> 
        <% if (check === 0) { %> 
            <button><a href="/methods/user/forms/handleFiller">user.status</a></button>
            <br>
            <br>
        <% } else { %>
            <button onclick="dropDown('hidden-data-userstatus')">user.status &#8628;</button>
            <br>
            <br>
            <section id="hidden-data-userstatus" style="display: none;">
                    <textarea name="" id="" cols="150" rows="30">
                        <%= linkData.linkuser_status %> 
                    </textarea>
            </section>
        <% } %> 
    <% } %>  
    <script>
        function dropDown(id) {
            let data = document.getElementById(id);
            if (data.style.display == 'none') {
                data.style.display = 'block';
            } else {
                data.style.display = 'none';
            }
        }
    </script> 
</body>
</html>