<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= methodName %> </title>
</head>
<body>
    <% if (methodName === 'blogEntry') { %>
        <h1>Entered blog id: <%= id %> </h1>
        <button onclick="dropDown(`hidden-data-comments`)">blogEntry.comments &#8628;</button>
        <br>
        <br>
        <section id="hidden-data-comments" style="display: none;">
            <textarea name="" id="" cols="150" rows="30">
                <%= JSON.stringify(linkData.linkblogEntry_comments.data) %> 
            </textarea>
        </section>
        <button onclick="dropDown('hidden-data-view')">blogEntry.view &#8628;</button>
        <br>
        <br>
        <section id="hidden-data-view" style="display: none;">
            <textarea name="" id="" cols="50" rows="20">
                <%= JSON.stringify(linkData.linkblogEntry_view.data) %> 
            </textarea>
        </section>
    <% } else  if (methodName === 'contest'){ %>
        <p>
            Note: For methods depending on contest id, fill the id for either one of them and data for that id will be loaded for others too.
            For example, contest.hacks depends on contest id so by clicking on it you will be asked to give a contest id. By entering a valid contest id, data for other id dependent methods
            like, contest.rating changes, contest.status,contest.standings will also be loaded for the id given by you.
        </p>
        <br>
        <% if (check === 0) { %> 
            <button><a href="/methods/contest/forms/idFiller"><%= methodName %>.hacks</a></button>
            <br>
            <br>
        <% } else { %> 
            <h2>Entered id: <%= id %> </h2>
            <button onclick="dropDown('hidden-data-hacks')"><%= methodName %>.hacks &#8628;</button>
            <br>
            <br>
            <section id="hidden-data-hacks" style="display: none;">
                    <textarea name="" id="" cols="150" rows="30">
                        <%= JSON.stringify(linkData.linkcontest_ratingChanges.data) %> 
                    </textarea>
            </section>
        <% } %> 
        <button onclick="dropDown('hidden-data-listT')">contest.list(gym=true) &#8628;</button>
        <br>
        <br>
        <section id="hidden-data-listT" style="display: none;">
            <textarea name="" id="" cols="150" rows="30">
                <%= JSON.stringify(linkData.linkcontest_listT.data) %> 
            </textarea>
        </section>
        <button onclick="dropDown('hidden-data-listF')">contest.list(gym=false) &#8628;</button>
        <br>
        <br>
        <section id="hidden-data-listF" style="display: none;">
            <textarea name="" id="" cols="150" rows="30">
                <%= JSON.stringify(linkData.linkcontest_listF.data) %> 
            </textarea>
        </section>
        <% if (check === 0) { %> 
            <button><a href="/methods/contest/forms/idFiller">contest.ratingChanges</a></button>
            <br>
            <br>
        <% }else { %> 
            <button onclick="dropDown('hidden-data-rC')">contest.ratingChanges &#8628;</button>
            <br>
            <br>
            <section id="hidden-data-rC" style="display: none;">
                    <textarea name="" id="" cols="150" rows="30">
                        <%= JSON.stringify(linkData.linkcontest_ratingChanges.data) %> 
                    </textarea>
            </section>
        <% } %> 
        <% if (check === 0) { %> 
            <button><a href="/methods/contest/forms/idFiller">contest.standings(Unofficial)</a></button>
            <br>
            <br>
        <% }else {%> 
            <button onclick="dropDown('hidden-data-stan')">contest.standings(Unofficial) &#8628;</button>
            <br>
            <br>
            <section id="hidden-data-stan" style="display: none;">
                    <textarea name="" id="" cols="150" rows="30">
                        <%= JSON.stringify(linkData.linkcontest_standings.data) %> 
                    </textarea> 
            </section>
        <% } %>
        <% if (check === 0) { %> 
            <button><a href="/methods/contest/forms/idFiller">contest.status</a></button>
            <br>
            <br>
        <% } else { %> 
            <button onclick="dropDown('hidden-data-status')">contest.status(This button takes time to load and show data due to the slow response from CF API) &#8628;</button>
            <section id="hidden-data-status" style="display: none;">
                    <textarea name="" id="" cols="150" rows="30">
                        <%= JSON.stringify(linkData.linkcontest_status.data) %> 
                    </textarea>
            </section>
        <% } %> 
    <% } else if (methodName === 'problemset') {%>
        <% if (check === 0) { %> 
            <button><a href="/methods/problemset/forms/tagFiller"><%= methodName %>.problems</a></button>
            <br>
            <br>    
        <% } else if (countFillercheck === true) { %>
            <button><a href="/methods/problemset/forms/tagFiller"><%= methodName %>.problems</a></button>
            <br>
            <br>
        <% } else { %>
            <button onclick="dropDown('hidden-data-problems')"><%= methodName %>.problems &#8628;</button>
            <br>
            <br>
            <section id="hidden-data-problems" style="display: none;">
                <textarea name="" id="" cols="150" rows="30">
                    <%= JSON.stringify(linkData.linkproblemset_problems.data) %> 
                </textarea>
            </section>
        <% } %>  
        <% if (check === 0) { %> 
            <button><a href="/methods/problemset/forms/countFiller" target="_blank"><%= methodName %>.recentStatus</a></button>
            <br>
            <br>
        <% } else if (countFillercheck === true) { %>
            <button onclick="dropDown('hidden-data-rS')"><%= methodName %>.recentStatus &#8628;</button>
            <br>
            <br>
            <section id="hidden-data-rS" style="display: none;">
                <textarea name="" id="" cols="150" rows="30">
                    <%= JSON.stringify(linkData.linkproblemset_recentStatus.data) %> 
                </textarea>
            </section> 
        <% } else { %>
            <button><a href="/methods/problemset/forms/countFiller" target="_blank"><%= methodName %>.recentStatus</a></button>
            <br>
            <br>
        <% } %> 
    <% } %> 
    <script>
        function dropDown(id) {
            let data = document.getElementById(id);
            if (data.style.display == 'none') {
                data.style.display = 'block';
            } else {
                data.style.display = 'none';
            }
        }
    </script> 
</body>
</html>