<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attribute required</title>
    <link rel="stylesheet" href="/css/method_form.css">
</head>
<body>
    <% if (methodName === 'blogEntry') { %> 
        <h1><u>Please enter blog id :</u></h1>
        <br>
        <br>
        <form action="/methods/<%= methodName %>" method="post">
            <label for="id"></label>
            <div class="input">
                <input type="number" id="id" name="id"> <span style="color: wheat;">(Default value is 0)</span>
            </div>
            <br>
            <br>
            <br> 
            <div class="submit-button">   
                <button id="submit">Submit</button>
            </div>
        </form>
    <% } else if (methodName === 'contest') { %> 
        <h1><u>Please enter contest id :</u></h1>
        <br>
        <br>
        <form action="/methods/<%= methodName %>" method="post">
            <div class="input">
                <label for="id"></label>
                <input type="text" id="id" name="id">
            </div>
            <br>
            <br>
            <div class="submit-button">   
                <button id="submit">Submit</button>
            </div>
        </form> 
    <% } else if (methodName === 'problemset') {%> 
        <h1><u>Please enter problem tag :</u></h1>
        <br>
        <br>
        <form action="/methods/<%= methodName %>" method="post">
            <div class="input">
                <label for="id"></label>
                <input type="text" id="id" name="id">
            </div>
            <br>
            <br>
            <div class="submit-button">   
                <button id="submit">Submit</button>
            </div>
        </form> 
    <% } else if (methodName === 'recentActions') { %>
        <h1><u>Please enter maxCount value :</u></h1>
        <br>
        <br>
        <form action="/methods/<%= methodName %>" method="post">
            <div class="input">
                <label for="id"></label>
                <input type="text" id="id" name="id">
            </div>
            <br>
            <br>
            <div class="submit-button">   
                <button id="submit">Submit</button>
            </div>
        </form> 
    <% } else { %>
        <h1><u>Please enter user handle :</u></h1>
        <br>
        <br>
        <form action="/methods/<%= methodName %>" method="post">
            <div class="input">
                <label for="id"></label>
                <input type="text" id="id" name="id">
            </div>
            <br>
            <br>
            <div class="submit-button">   
                <button id="submit">Submit</button>
            </div>
        </form> 
    <% } %>    
</body>
</html>