<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attribute required</title>
</head>
<body>
    <% if (methodName === 'blogEntry') { %> 
        <h1>Please enter blog id: </h1>
        <form action="/methods/<%= methodName %>" method="post">
            <label for="id"></label>
            <input type="number" id="id" name="id">
            <br>
            <br>
            <button>Submit</button>
        </form>
    <% } else if (methodName === 'contest') { %> 
        <h1>Please enter contest id: </h1>
        <form action="/methods/<%= methodName %>" method="post">
            <label for="id"></label>
            <input type="number" id="id" name="id">
            <br>
            <br>
            <button>Submit</button>
        </form> 
    <% } else if (methodName === 'problemset') {%> 
        <h1>Please enter problem tag </h1>
        <form action="/methods/<%= methodName %>" method="post">
            <label for="id"></label>
            <input type="text" id="id" name="id">
            <br>
            <br>
            <button>Submit</button>
        </form> 
    <% } else if (methodName === 'recentActions') { %>
        <h1>Please enter maxCount value</h1>
        <form action="/methods/<%= methodName %>" method="post">
            <label for="id"></label>
            <input type="number" id="id" name="id" max="100" min="0">
            <br>
            <br>
            <button>Submit</button>
        </form> 
    <% } else { %>
        <h1>Please enter user handle: </h1>
        <form action="/methods/<%= methodName %>" method="post">
            <label for="id"></label>
            <input type="text" id="id" name="id" max="100" min="0">
            <br>
            <br>
            <button>Submit</button>
        </form> 
    <% } %>    

</body>
</html>