<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= methodName %> </title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/css/method_home.css">
</head>
<body>
    <% if (methodName === 'blogEntry') { %>
        <% if (!Number.isInteger(id)) { %>
            <h1>Entered blog id is not a valid Integer</h1>
        <% } else { %>  
            <h1>Entered blog id: <%= id %> </h1>
        <% } %> 
        <br>
        <br>
        <div class="main-bE">
            <button onclick="dropDown(`hidden-data-comments`)">blogEntry.comments &#8628;</button>
            <br>
            <br>
            <section id="hidden-data-comments" style="display: none;">
                <textarea id="data" cols="120" rows="28" readonly><%= linkData.linkblogEntry_comments %> 
                </textarea>   <button onclick="copy('hidden-data-comments')" style="width: 3em;height:1.5em;">Copy</button>
            </section>
            <button onclick="dropDown('hidden-data-view')">blogEntry.view &#8628;</button>
            <br>
            <br>
            <section id="hidden-data-view" style="display: none;">
                <textarea id="data" cols="83" rows="20" readonly><%= linkData.linkblogEntry_view %>   
                </textarea>   <button onclick="copy('hidden-data-view')" style="width: 3em;height:1.5em;">Copy</button>  
            </section>
        </div>
    <% } else  if (methodName === 'contest'){ %>
        <p style="color:white;background-color:rgb(0,0,50);font-family:Arial, Helvetica, sans-serif;">
            Note: For methods depending on contest id, fill the id for either one of them and data for that id will be loaded for others too.
            For example, contest.hacks depends on contest id so by clicking on it you will be asked to give a contest id. By entering a valid contest id, data for other id dependent methods
            like, contest.ratingChanges, contest.standings will also be loaded for the id given by you.
            
        </p>
        <p style="color:white;background-color:rgb(0,0,50);font-family:Arial, Helvetica, sans-serif;">
            NOTE - both contest.list methods does not depend on contest id
        </p>
        <br>
        <br>
        <section class="main-contest">
            <% if (check === 0) { %> 
                <button><a href="/methods/contest/forms/idFiller"><%= methodName %>.hacks</a></button>
                <br>
                <br>
            <% } else { %> 
                <h2 style="text-align: center; color:white;">Entered id: <%= id %> </h2>
                <button onclick="dropDown('hidden-data-hacks')"><%= methodName %>.hacks &#8628;</button>
                <br>
                <br>
                <section id="hidden-data-hacks" style="display: none;">
                        <textarea id="data" cols="150" rows="30" readonly><%= linkData.linkcontest_ratingChanges %> 
                        </textarea>   <button onclick="copy('hidden-data-hacks')" style="width: 3em;height:1.5em;">Copy</button>
                </section>
            <% } %> 
            <button onclick="dropDown('hidden-data-listT')">contest.list(gym=true) &#8628;</button>
            <br>
            <br>
            <section id="hidden-data-listT" style="display: none;">
                <textarea id="data" cols="150" rows="30" readonly><%= linkData.linkcontest_listT %> 
                </textarea>   <button onclick="copy('hidden-data-listT')" style="width: 3em;height:1.5em;">Copy</button>
            </section>
            <button onclick="dropDown('hidden-data-listF')">contest.list(gym=false) &#8628;</button>
            <br>
            <br>
            <section id="hidden-data-listF" style="display: none;">
                <textarea id="data" cols="150" rows="30" readonly><%= linkData.linkcontest_listF %> 
                </textarea>   <button onclick="copy('hidden-data-listF')" style="width: 3em;height:1.5em;">Copy</button>
            </section>
            <% if (check === 0) { %> 
                <button><a href="/methods/contest/forms/idFiller">contest.ratingChanges</a></button>
                <br>
                <br>
            <% }else { %> 
                <button onclick="dropDown('hidden-data-rC')">contest.ratingChanges &#8628;</button>
                <br>
                <br>
                <section id="hidden-data-rC" style="display: none;">
                        <textarea id="data" cols="150" rows="30" readonly><%= linkData.linkcontest_ratingChanges %> 
                        </textarea>   <button onclick="copy('hidden-data-rc')" style="width: 3em;height:1.5em;">Copy</button>
                </section>
            <% } %> 
            <% if (check === 0) { %> 
                <button><a href="/methods/contest/forms/idFiller">contest.standings(Unofficial)</a></button>
                <br>
                <br>
            <% }else {%> 
                <button onclick="dropDown('hidden-data-stan')">contest.standings(Unofficial) &#8628;</button>
                <br>
                <br>
                <section id="hidden-data-stan" style="display: none;">
                        <textarea id="data" cols="150" rows="30" readonly><%= linkData.linkcontest_standings %> 
                        </textarea>   <button onclick="copy('hidden-data-stan')" style="width: 3em;height:1.5em;">Copy</button> 
                </section>
            <% } %>
            
        </section>
    <% } else if (methodName === 'problemset') {%>
        <h1 id="psHeading">Problemset's methods : </h1>
        <section class="main-pS">
            <% if (check === 0) { %> 
                <button><a href="/methods/problemset/forms/tagFiller"><%= methodName %>.problems</a></button> <span>(Requires problem tag)</span>
                <br>
                <br>    
            <% } else if (countFillercheck === true) { %>
                <button style="border-left: 10em;"><a href="/methods/problemset/forms/tagFiller"><%= methodName %>.problems</a></button> <span>(Requires problem tag)</span>
                <br>
                <br>
            <% } else { %>
                <% if (errorcheck) { %> 
                    <h2 style="text-align: center; color:white;">Invalid Problem tag <%= id %> , please cross-check the tag you have entered</h2>
                <% } else if (!validitycheck) { %> 
                    <h2 style="text-align: center; color:white;">Problem Tag: <%= id %></h2>
                    <h3 style="text-align: center; color:white;">Note: The problem tag '<%= id %>' seems incorrect and you might want to re-check it. Anyways requested JSON is: </h3>
                <% } else { %> 
                    <h2 style="text-align: center; color:white;">Problem Tag : <%= id %> </h2>
                <% } %> 
                <button onclick="dropDown('hidden-data-problems')"><%= methodName %>.problems &#8628;</button>
                <br>
                <br>
                <section id="hidden-data-problems" style="display: none;">
                    <textarea id="data" cols="150" rows="30" readonly><%= linkData.linkproblemset_problems %> 
                    </textarea>   <button onclick="copy('hidden-data-problems')" style="width: 3em;height:1.5em;">Copy</button>
                </section>
            <% } %>  
            <% if (check === 0) { %> 
                <button><a href="/methods/problemset/forms/countFiller" target="_blank"><%= methodName %>.recentStatus</a></button> <span>(Requires count of number of submissions)</span>
                <br>
                <br>
            <% } else if (countFillercheck === true) { %>
                <% if (id > 1000) {%> 
                    <h2 style="text-align: center; color:white;">Count value: <% id %>(greater than 1000) </h2>
                <% } else { %> 
                    <h2 style="text-align: center; color:white;">Count value: <%= id %> </h2>
                <% } %> 
                <button onclick="dropDown('hidden-data-rS')" style="border-left: 10em;"><%= methodName %>.recentStatus &#8628;</button>
                <br>
                <br>
                <section id="hidden-data-rS" style="display: none;">
                    <textarea name="" id="data" cols="150" rows="30" readonly><%= linkData.linkproblemset_recentStatus %> 
                    </textarea>   <button onclick="copy('hidden-data-rS')" style="width: 3em;height:1.5em;">Copy</button>
                </section> 
            <% } else { %>
                <button style="border-left: 10em;"><a href="/methods/problemset/forms/countFiller" target="_blank"><%= methodName %>.recentStatus</a></button> <span>(Requires count of number of submissions)</span>
                <br>
                <br>
            <% } %> 
        </section>
    <% } else if (methodName === 'recentActions') { %>
        <% if (id > 100) { %>
            <h2 style="text-align: center; color:white;">Entered maxCount value: <%= id %> (greater than 100) </h2>
        <% } else if(id < 1) { %>
            <h2 style="text-align: center; color:white;">Entered maxCount value: <%= id %> (less than 1)</h2> 
        <% } else { %>
            <h2 style="text-align: center; color:white;">Entered maxCount value: <%= id %> </h2>
        <% } %>  
        <section class="main-rA">
            <button onclick="dropDown(`hidden-data-recentActions`)"><%= id %> recentActions &#8628;</button>
            <br>
            <br>
            <section id="hidden-data-recentActions" style="display: none;">
                <textarea id="data" cols="150" rows="30" readonly><%= linkData.linkrecentActions %> 
                </textarea>   <button onclick="copy('hidden-data-recentActions')" style="width: 3em;height:1.5em;">Copy</button>
            </section>
        </section> 
    <% } else { %>
        <p style="color: white; background-color:rgb(0,0,50);font-family:Arial, Helvetica, sans-serif;"> Note: For methods depending on user handle, fill the handle for either one of them and data for that handle will be loaded for others too.
            For example, user.blogEntries depends on user handle so by clicking on it you will be asked to give a handle. By entering a valid user handle, data for other user handle dependent methods
            namely, user.info, user.rating,user.status will also be loaded for the user handle given by you.
        </p>
        <br>
        <section class="main-user">
            <% if (check === 0) { %> 
                <button><a href="/methods/user/forms/handleFiller">user.blogEntries</a></button>
                <br>
                <br>
            <% } else { %>
                <% if (errorcheck) { %>
                    <h2 style="text-align: center; color:white;">Invalid user handle : <%= id %> </h2>
                <% } else { %>  
                    <h2 style="text-align: center; color:white;">Entered valid user handle : <%= id %> </h2>
                <% } %> 
                <button onclick="dropDown('hidden-data-userblogEntries')">user.blogEntries &#8628;</button>
                <br>
                <br>
                <section id="hidden-data-userblogEntries" style="display: none;">
                        <textarea id="data" cols="150" rows="30" readonly><%= linkData.linkuser_blogEntries %> 
                        </textarea>   <button onclick="copy('hidden-data-userblogEntries')" style="width: 3em;height:1.5em;">Copy</button>
                </section>
            <% } %>  
            <% if (check === 0) { %> 
                <button><a href="/methods/user/forms/handleFiller">user.info</a></button>
                <br>
                <br>
            <% } else { %>
                <button onclick="dropDown('hidden-data-userinfo')">user.info &#8628;</button>
                <br>
                <br>
                <section id="hidden-data-userinfo" style="display: none;">
                        <textarea id="data" cols="150" rows="30" readonly><%= linkData.linkuser_info %> 
                        </textarea>   <button onclick="copy('hidden-data-userinfo')" style="width: 3em;height:1.5em;">Copy</button>
                </section>
            <% } %> 
            <% if (check === 0) { %> 
                <button><a href="/methods/user/forms/handleFiller">user.rating</a></button>
                <br>
                <br>
            <% } else { %>
                <button onclick="dropDown('hidden-data-userrating')">user.rating &#8628;</button>
                <br>
                <br>
                <section id="hidden-data-userrating" style="display: none;">
                        <textarea id="data" cols="150" rows="30" readonly><%= linkData.linkuser_rating %> 
                        </textarea>   <button onclick="copy('hidden-data-userrating')" style="width: 3em;height:1.5em;">Copy</button>
                </section>
            <% } %> 
            <% if (check === 0) { %> 
                <button><a href="/methods/user/forms/handleFiller">user.status</a></button>
                <br>
                <br>
            <% } else { %>
                <button onclick="dropDown('hidden-data-userstatus')">user.status &#8628;</button>
                <br>
                <br>
                <section id="hidden-data-userstatus" style="display: none;">
                        <textarea id="data" cols="150" rows="30" readonly><%= linkData.linkuser_status %> 
                        </textarea>   <button onclick="copy('hidden-data-userstatus')" style="width: 3em;height:1.5em;">Copy</button>
                </section>
            <% } %> 
        </section>
    <% } %>     
    <script>
        function dropDown(id) {
            let data = document.getElementById(id);
            if (data.style.display == 'none') {
                data.style.display = 'block';
            } else {
                data.style.display = 'none';
            }
        }

        function copy(id) {
            let parentId = document.getElementById(id)
            let child = parentId.children.data
            child.select()
            document.execCommand('copy')
            alert('Copied to clipboard')
        }
    </script> 
</body>
</html>